@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var events in Model.Events)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="@events.EventDetails.ImagePath" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@events.Date.ToString("m")</h3>
                            </div>
                        </div>
                        <div class="event-content text-start">
                            <h4><a href="event-details.html">@events.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @events.StartTime.ToString("hh:mm tt") - @events.EndTime.ToString("hh:mm tt")</li>
                                <li><span>venue</span> @events.Location</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="EventDetail" asp-route-id="@events.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Event End -->

