@model IEnumerable<Event>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Event Cards</h4>
        <a asp-action="Create" class="btn btn-primary mb-3">Create New Event</a>
        <div class="table-responsive">
            <table class="table table-dark mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date Time</th>
                        <th>Title</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var events in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@events.Date.ToString("m")</td>
                            <td>@events.Title</td>
                            <td>@events.StartTime.ToString("hh:mm tt")</td>
                            <td>@events.EndTime.ToString("hh:mm tt")</td>
                            <td>@events.Location</td>
                            <td>
                                <a asp-action="Update" asp-route-id="@events.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@events.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

